@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Frank+Ruhl+Libre:wght@300..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');
.footer-container{
    padding: 50px;
    background-color: rgba(7, 47, 87, 1);
}

.footer-inner-container{
    border-top:1px solid rgba(255, 255, 255, 0.635);
    border-bottom:1px solid rgba(255, 255, 255, 0.632);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 70px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.footer-img{
    display: flex;
    gap: 5px;
}

.footer-img h2{
    color: white;
    font-family: "Playwrite HR Lijeva", cursive;

}

.footer-middle{
    display: flex;
    gap: 30px;
}

.footer-address{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.footer-address ul li{
    font-size:14px;
    cursor: pointer;
    transition: all .4s linear;
}

.footer-address ul li:hover{
    transform: translateX(5px);
    color: rgba(231,118,17,1);
}

.footer-right{
    display: flex;
    gap: 10px;
    font-size: 23px;
    color: white;
}

.footer-icon{
    height:50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1.2px solid white;
    padding: 10px ;
    cursor: pointer;
    position: relative;
    transition: all .4s linear;
    z-index: 1;
    overflow: hidden;
}

.footer-icon::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(231,118,17,1);
    border-radius: 50%;
    top: 100%;
    transition: all .4s linear;
    z-index: -1;
}

.footer-icon:hover::before{
    top: 0;
}

.footer-icon:hover{
    border: 1.2px solid rgba(0, 115, 47, 1);
}


@media(max-width:960px){
    .footer-right{
        flex-direction: column;
    }
}

@media(max-width:768px){
    .footer-inner-container{
        flex-direction: column;
        gap: 50px;
    }
    .footer-right{
        flex-direction: row;
    }
}

@media(max-width:330px){
    .footer-middle{
        flex-direction: column;
    }
}

@media(max-width:260px){
    .footer-right{
        flex-direction: column;
    }
}
